---
import BaseLayout from '../../layouts/BaseLayout.astro';
let title = 'Tags';
let description = 'Tags found in blog posts of this web site'
//
import { getCollection } from "astro:content";
const allPosts = await getCollection('blog');
const tags = [...new Set(([] as string[]).concat(...allPosts.flatMap(post => post.data.tags)))] as string[];
//const tagCounts = {};
const tagCounts: { [key: string]: number } = {};
allPosts.forEach(post => {
  post.data.tags.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});
const { page } = Astro.props
//
---
<BaseLayout content={{ title, description }}>

        <div data-pagefind-ignore>
          <h1 class="text-balance pb-4 text-4xl md:text-6xl font-extrabold text-transparent bg-gradient-to-r from-rose-500 to-violet-500 dark:from-blue-400 dark:via-indigo-500 dark:to-violet-800 bg-clip-text no-underline">Tags</h1>
          <p class="prose md:prose-lg lg:prose-xl dark:prose-invert max-w-none"> All our tags, nothing fancy</p>
          <ul class="text-pretty text-justify tag-list">
            {tags.flatMap((tag) => (
                <li class="tag"><a  href={`/tags/${tag}/`} title={`View posts tagged under "${tag.charAt(0).toUpperCase() + tag.slice(1) }"`}>{tag.charAt(0).toUpperCase() + tag.slice(1) }</a> <span class="hidden lg:inline text-[9px] sub">({tagCounts[tag] || 0})</span></li>
            ))}
        </ul>
        </div>


</BaseLayout>
<style>
  .tag-list {
      @apply list-none flex gap-2 flex-wrap
  }
  .tag {
      @apply inline-block text-xl px-4 py-1 rounded-full text-purple-600 bg-purple-50 dark:bg-purple-200 dark:text-purple-800 hover:bg-purple-600 hover:text-purple-300 dark:hover:bg-purple-800 dark:hover:text-purple-200
  }
</style>