---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
import AboutSection from '../components/AboutSection.astro';
---
<BaseLayout pageTitle={pageTitle}>
  <main class="space-y-40 mb-40">
    <AboutSection/>
    

  </main>
  
</BaseLayout>