---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Home Page";
import HeroSection from '../components/HeroSection.astro';
import LatestBlogs from '../components/LatestBlogs.astro';
import { getCollection } from "astro:content";
const allPosts = (await getCollection('blog')); 
//const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate) as any; // Explicitly specify the type
  const dateB = new Date(b.data.pubDate) as any; // Explicitly specify the type
  return dateB - dateA;
});

const last4posts = sortedPosts.slice(0,4);
---
<BaseLayout content={{ title }} data-pagefind-ignore>
  <main class="space-y-40 mb-40">
    <HeroSection/>
    <LatestBlogs/>
  </main>
</BaseLayout>