---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
const pageTitle = "Tags Page";
//

//
---
<BaseLayout pageTitle={pageTitle}>
<!-- ========== MAIN CONTENT ========== -->

 

  <!-- Comparison Table -->
  <div class="relative">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 md:py-14 lg:py-20 mx-auto">
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white">Compare plans</h2>
      </div>

      <!-- Header -->
      <div class="hidden lg:block sticky top-0 start-0 py-2 bg-white/60 backdrop-blur-md dark:bg-slate-900/60">
        <!-- Grid -->
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-2">
            <span class="font-semibold text-lg text-gray-800 dark:text-gray-200">
              Features
            </span>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <span class="font-semibold text-lg text-gray-800 dark:text-gray-200">
              Free
            </span>
            <p class="mt-2 text-sm text-gray-500">
              Free forever
            </p>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <span class="font-semibold text-lg text-gray-800 dark:text-gray-200">
              Startup
            </span>
            <p class="mt-2 text-sm text-gray-500">
              $39 per month billed annually
            </p>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <span class="font-semibold text-lg text-gray-800 dark:text-gray-200">
              Team
            </span>
            <p class="mt-2 text-sm text-gray-500">
              $89 per month billed annually
            </p>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <span class="font-semibold text-lg text-gray-800 dark:text-gray-200">
              Enterprise
            </span>
            <p class="mt-2 text-sm text-gray-500">
              $149 per month billed annually
            </p>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Header -->

      <!-- Section -->
      <div class="space-y-4 lg:space-y-0">
        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 lg:py-3">
            <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">
              General
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Number of seats
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                1
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                Up to 3
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                Up to 10
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                Unlimited
              </span>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Storage
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                15 GB
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                1 TB
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                15 TB
              </span>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <span class="text-sm text-gray-800 dark:text-gray-200">
                Unlimited
              </span>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Email sharing
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Any time, anywhere access
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div class="mt-6 space-y-4 lg:space-y-0">
        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 lg:py-3">
            <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">
              Financial data
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Open/High/Low/Close
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Price-volume difference indicator
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div class="mt-6 space-y-4 lg:space-y-0">
        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 lg:py-3">
            <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">
              On-chain data
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Network growth
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Average token age consumed
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Exchange flow
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Total ERC20 exchange funds flow
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Transaction volume
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Total circulation (beta)
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Velocity of tokens (beta)
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              ETH gas used
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div class="mt-6 space-y-4 lg:space-y-0">
        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 lg:py-3">
            <span class="text-lg font-semibold text-gray-800 dark:text-gray-200">
              Social data
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="hidden lg:block lg:col-span-1 py-1.5 lg:py-3 px-4 lg:px-0 lg:text-center">
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Dev activity
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Topic search
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->

        <!-- List -->
        <ul class="grid lg:grid-cols-6 lg:gap-6">
          <!-- Item -->
          <li class="lg:col-span-2 pb-1.5 lg:py-3">
            <span class="font-semibold lg:font-normal text-sm text-gray-800 dark:text-gray-200">
              Relative social dominance
            </span>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Free
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Startup
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Team
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400 dark:text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li class="col-span-1 py-1.5 lg:py-3 border-b border-gray-200 dark:border-gray-700">
            <div class="grid grid-cols-2 md:grid-cols-6 lg:block">
              <span class="lg:hidden md:col-span-2 text-sm text-gray-800 dark:text-gray-200">
                Enterprise
              </span>
              <svg class="flex-shrink-0 h-5 w-5 text-violet-600 dark:text-violet-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Section -->

      <!-- Header -->
      <div class="hidden lg:block mt-6">
        <!-- Grid -->
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-2">
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
              Get started
            </a>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-violet-600 text-white hover:bg-violet-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
              Get started
            </a>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
              Get started
            </a>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
              Get started
            </a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Header -->

      <!-- Button Group -->
      <div class="mt-8 md:mt-12 flex justify-center items-center gap-x-3">
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Need a custom plan?
        </p>

        <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          Contact us
        </button>
      </div>
      <!-- End Button Group -->
    </div>
  </div>
  <!-- End Comparison Table -->

  <!-- Testimonials -->
  <div class="relative overflow-hidden">
    <div class="max-w-[85rem] px-4 py-12 sm:px-6 lg:px-8 lg:pt-16 lg:pb-28 mx-auto">
      <!-- Gradients -->
      <div aria-hidden="true" class="flex absolute start-0 -z-[1]">
        <div class="bg-purple-200 opacity-20 blur-3xl w-[1036px] h-[300px] dark:bg-purple-900 dark:opacity-20"></div>
      </div>
      <!-- End Gradients -->

      <!-- Grid -->
      <div class="lg:grid lg:grid-cols-6 lg:gap-8 lg:items-center">
        <div class="hidden lg:block lg:col-span-2">
          <img class="rounded-xl" src="https://images.unsplash.com/photo-1671726203390-cdc4354ee2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="lg:col-span-4">
          <!-- Blockquote -->
          <blockquote>
            <svg class="w-24 h-auto mb-4" viewBox="-0.3 0 320.3999999999999 99.9" xmlns="http://www.w3.org/2000/svg" width="2500" height="779"><path d="M168.7 25.1c0 3.6-2.9 6.5-6.5 6.5s-6.5-2.9-6.5-6.5 2.8-6.5 6.5-6.5c3.7.1 6.5 3 6.5 6.5zm-26.8 13.1v1.6s-3.1-4-9.7-4c-10.9 0-19.4 8.3-19.4 19.8 0 11.4 8.4 19.8 19.4 19.8 6.7 0 9.7-4.1 9.7-4.1V73c0 .8.6 1.4 1.4 1.4h8.1V36.8h-8.1c-.8 0-1.4.7-1.4 1.4zm0 24.1c-1.5 2.2-4.5 4.1-8.1 4.1-6.4 0-11.3-4-11.3-10.8s4.9-10.8 11.3-10.8c3.5 0 6.7 2 8.1 4.1zm15.5-25.5h9.6v37.6h-9.6zm143.4-1c-6.6 0-9.7 4-9.7 4V18.7h-9.6v55.7h8.1c.8 0 1.4-.7 1.4-1.4v-1.7s3.1 4.1 9.7 4.1c10.9 0 19.4-8.4 19.4-19.8s-8.5-19.8-19.3-19.8zm-1.6 30.5c-3.7 0-6.6-1.9-8.1-4.1V48.8c1.5-2 4.7-4.1 8.1-4.1 6.4 0 11.3 4 11.3 10.8s-4.9 10.8-11.3 10.8zm-22.7-14.2v22.4h-9.6V53.2c0-6.2-2-8.7-7.4-8.7-2.9 0-5.9 1.5-7.8 3.7v26.2h-9.6V36.8h7.6c.8 0 1.4.7 1.4 1.4v1.6c2.8-2.9 6.5-4 10.2-4 4.2 0 7.7 1.2 10.5 3.6 3.4 2.8 4.7 6.4 4.7 12.7zm-57.7-16.3c-6.6 0-9.7 4-9.7 4V18.7h-9.6v55.7h8.1c.8 0 1.4-.7 1.4-1.4v-1.7s3.1 4.1 9.7 4.1c10.9 0 19.4-8.4 19.4-19.8.1-11.4-8.4-19.8-19.3-19.8zm-1.6 30.5c-3.7 0-6.6-1.9-8.1-4.1V48.8c1.5-2 4.7-4.1 8.1-4.1 6.4 0 11.3 4 11.3 10.8s-4.9 10.8-11.3 10.8zm-26-30.5c2.9 0 4.4.5 4.4.5v8.9s-8-2.7-13 3v26.3H173V36.8h8.1c.8 0 1.4.7 1.4 1.4v1.6c1.8-2.1 5.7-4 8.7-4zM91.5 71c-.5-1.2-1-2.5-1.5-3.6-.8-1.8-1.6-3.5-2.3-5.1l-.1-.1C80.7 47.2 73.3 32 65.5 17l-.3-.6c-.8-1.5-1.6-3.1-2.4-4.7-1-1.8-2-3.7-3.6-5.5C56 2.2 51.4 0 46.5 0c-5 0-9.5 2.2-12.8 6-1.5 1.8-2.6 3.7-3.6 5.5-.8 1.6-1.6 3.2-2.4 4.7l-.3.6C19.7 31.8 12.2 47 5.3 62l-.1.2c-.7 1.6-1.5 3.3-2.3 5.1-.5 1.1-1 2.3-1.5 3.6C.1 74.6-.3 78.1.2 81.7c1.1 7.5 6.1 13.8 13 16.6 2.6 1.1 5.3 1.6 8.1 1.6.8 0 1.8-.1 2.6-.2 3.3-.4 6.7-1.5 10-3.4 4.1-2.3 8-5.6 12.4-10.4 4.4 4.8 8.4 8.1 12.4 10.4 3.3 1.9 6.7 3 10 3.4.8.1 1.8.2 2.6.2 2.8 0 5.6-.5 8.1-1.6 7-2.8 11.9-9.2 13-16.6.8-3.5.4-7-.9-10.7zm-45.1 5.2C41 69.4 37.5 63 36.3 57.6c-.5-2.3-.6-4.3-.3-6.1.2-1.6.8-3 1.6-4.2 1.9-2.7 5.1-4.4 8.8-4.4s7 1.6 8.8 4.4c.8 1.2 1.4 2.6 1.6 4.2.3 1.8.2 3.9-.3 6.1-1.2 5.3-4.7 11.7-10.1 18.6zm39.9 4.7c-.7 5.2-4.2 9.7-9.1 11.7-2.4 1-5 1.3-7.6 1-2.5-.3-5-1.1-7.6-2.6-3.6-2-7.2-5.1-11.4-9.7 6.6-8.1 10.6-15.5 12.1-22.1.7-3.1.8-5.9.5-8.5-.4-2.5-1.3-4.8-2.7-6.8-3.1-4.5-8.3-7.1-14.1-7.1s-11 2.7-14.1 7.1c-1.4 2-2.3 4.3-2.7 6.8-.4 2.6-.3 5.5.5 8.5 1.5 6.6 5.6 14.1 12.1 22.2-4.1 4.6-7.8 7.7-11.4 9.7-2.6 1.5-5.1 2.3-7.6 2.6-2.7.3-5.3-.1-7.6-1-4.9-2-8.4-6.5-9.1-11.7-.3-2.5-.1-5 .9-7.8.3-1 .8-2 1.3-3.2.7-1.6 1.5-3.3 2.3-5l.1-.2c6.9-14.9 14.3-30.1 22-44.9l.3-.6c.8-1.5 1.6-3.1 2.4-4.6.8-1.6 1.7-3.1 2.8-4.4 2.1-2.4 4.9-3.7 8-3.7s5.9 1.3 8 3.7c1.1 1.3 2 2.8 2.8 4.4.8 1.5 1.6 3.1 2.4 4.6l.3.6c7.6 14.9 15 30.1 21.9 45v.1c.8 1.6 1.5 3.4 2.3 5 .5 1.2 1 2.2 1.3 3.2.8 2.6 1.1 5.1.7 7.7z" fill="#ff5a5f"/></svg>

            <p class="text-xl font-medium text-gray-800 lg:text-2xl lg:leading-normal dark:text-gray-200">
              To say that switching to Preline has been life-changing is an understatement. My business has tripled and I got my life back.
            </p>

            <footer class="mt-6">
              <div class="flex items-center">
                <div class="lg:hidden flex-shrink-0">
                  <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1671726203390-cdc4354ee2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
                </div>
                <div class="ms-4 lg:ms-0">
                  <p class="font-medium text-gray-800 dark:text-gray-200">
                    Nicole Grazioso
                  </p>
                  <p class="text-sm text-gray-600 dark:text-gray-400">
                    Head of Finance
                  </p>
                </div>
              </div>
            </footer>
          </blockquote>
          <!-- End Blockquote -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
  <!-- End Testimonials -->

  <!-- FAQ -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid md:grid-cols-6 gap-6">
      <div class="md:col-span-2">
        <div class="max-w-xs">
          <h2 class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white">Frequently<br>asked questions</h2>
          <p class="mt-1 hidden md:block text-gray-600 dark:text-gray-400">Answers to the most frequently asked questions.</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="md:col-span-4">
        <!-- Accordion -->
        <div class="hs-accordion-group divide-y divide-gray-200 dark:divide-gray-700">
          <div class="hs-accordion pb-3 active" id="hs-basic-with-title-and-arrow-stretched-heading-one">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
              Can I cancel at anytime?
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
              <p class="text-gray-600 dark:text-gray-400">
                Yes, you can cancel anytime no questions are asked while you cancel but we would highly appreciate if you will give us some feedback.
              </p>
            </div>
          </div>

          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-two">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
              My team has credits. How do we use them?
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
              <p class="text-gray-600 dark:text-gray-400">
                Once your team signs up for a subscription plan. This is where we sit down, grab a cup of coffee and dial in the details.
              </p>
            </div>
          </div>

          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-three">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">
              How does Preline's pricing work?
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">
              <p class="text-gray-600 dark:text-gray-400">
                Our subscriptions are tiered. Understanding the task at hand and ironing out the wrinkles is key.
              </p>
            </div>
          </div>

          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-four">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four">
              How secure is Preline?
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-four" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four">
              <p class="text-gray-600 dark:text-gray-400">
                Protecting the data you trust to Preline is our first priority. This part is really crucial in keeping the project in line to completion.
              </p>
            </div>
          </div>

          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-five">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">
              How do I get access to a theme I purchased?
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">
              <p class="text-gray-600 dark:text-gray-400">
                If you lose the link for a theme you purchased, don't panic! We've got you covered. You can login to your account, tap your avatar in the upper right corner, and tap Purchases. If you didn't create a login or can't remember the information, you can use our handy Redownload page, just remember to use the same email you originally made your purchases with.
              </p>
            </div>
          </div>

          <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-six">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">
              Upgrade License Type
              <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
            </button>
            <div id="hs-basic-with-title-and-arrow-stretched-collapse-six" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">
              <p class="text-gray-600 dark:text-gray-400">
                There may be times when you need to upgrade your license from the original type you purchased and we have a solution that ensures you can apply your original purchase cost to the new license purchase.
              </p>
            </div>
          </div>
        </div>
        <!-- End Accordion -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End FAQ -->
</main>
<!-- ========== END MAIN CONTENT ========== -->


</BaseLayout>
