---
import type { CollectionEntry } from 'astro:content';
import PostPreview from './PostPreview.astro'
interface Props {
    post: CollectionEntry<'blog'>
}
const { posts } = Astro.props
const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate) as any; // Explicitly specify the type
  const dateB = new Date(b.data.pubDate) as any; // Explicitly specify the type
  return dateB - dateA;
});
---
<section class="post-preview__list">
    {sortedPosts.map((post) => (
        <PostPreview post={post}/>
    ))}
</section>
<style>
    .post-preview__list {
        @apply flex flex-col gap-12
    }
</style>