---
const currentYear = new Date().getFullYear()
import { Icon } from 'astro-icon/components';
---
<footer class="w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5 text-center">
      <div class="text-gray-500 text-xs">
        <Icon name="phosphor/copyright" class="text-xl inline-flex" />Copyright {currentYear} All Rights Reserved. Personal views only.
      </div>
      <!-- End Col -->
  
      <ul class="text-center text-gray-500 text-xs">
        <li class="inline-block relative">
          Power by <a class="text-gray-500 hover:text-gray-800 dark:text-gray-500 dark:hover:text-gray-200" href="https://astro.build/" target="_blank">
            <Icon name="phosphor/rocket-takeoff" class="text-xl inline-flex" /></a> Made with <Icon name="phosphor/heart" class="text-red-700 text-xl inline-flex" /> and lots of
            <Icon name="phosphor/coffee" class="dark:text-orange-100 text-xl inline-flex" />
        </li>

      </ul>
      <!-- End Col -->
  
      <!-- Social Brands -->
      <div class="md:text-end space-x-2">
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold" href="https://www.instagram.com/s.a.n.t.m/" target="_blank">
          <Icon name="phosphor/instagram" class="text-xl text-gray-500 dark:text-gray-400 hover:text-fuchsia-700 dark:hover:text-fuchsia-500 inline-flex"/>
        </a>
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold" href="https://github.com/santm/" target="_blank">
          <Icon name="phosphor/github" class="text-xl text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 inline-flex"/>
        </a>
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold" href="/rss.xml" target="_blank">
          <Icon name="phosphor/rss" class="text-xl text-gray-500 hover:text-orange-700 dark:text-gray-400 dark:hover:text-orange-300 inline-flex"/>
        </a>
      </div>
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </footer>