---
import { SITE } from '@/config'
import BaseHead from '@components/BaseHead.astro';
import Container from "@components/Container.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import '../assets/styles/custom.css';
const { content } = Astro.props ;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={ content.title ? `${content.title} | ${ SITE.title }` : SITE.title } description={ content.description } image={SITE.image}/>
          <style type="text/css">
            .dark .dark-bg-radial-gradient
            {
              background-image: radial-gradient(closest-side, rgba(76, 29, 149, .40), rgba(76, 29, 149, .10), transparent) !important;
            }
          </style>
          <ViewTransitions />
  </head>
  <body class="dark:bg-slate-900">
    <Header />
    <Container>
      <slot />
    </Container>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>