---
const { pageTitle } = Astro.props;
import Header from "../components/NewHeader.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="" />
    <title>{pageTitle}</title>    
  </head>
  <body class="bg-white dark:bg-gray-900">
    <Header />
    
    <slot />
    <Footer />
    
</body>
</html>
